<!-- Education -->
<div class="profile-edu bg-white p-2">
  <h2 class="text-primary">Education</h2>
  {{#each eduData}}
    <div>
      <h3>{{school}}</h3>
      <p>{{getFormatedDate from}} - {{getCurrentYear}}</p>
      <p><strong>Degree: </strong>Masters</p>
      <p><strong>Field Of Study: </strong>Computer Science</p>
      <p>
        <strong>Description: </strong>Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Dignissimos placeat, dolorum ullam ipsam, sapiente
        suscipit dicta eius velit amet aspernatur asperiores modi quidem
        expedita fugit.
      </p>
    </div>
  {{/each}}
</div>