<section class="landing">
  <div class="dark-overlay">
    <div class="landing-inner">
      <h1 class="x-large">{{landing.appName}}</h1>
      <p class="lead">
        Create a developer profile/portfolio, share posts and get help from
        other developers
      </p>
      <div class="buttons">
        <a href="register.html" class="btn btn-primary">{{landing.signup}}</a>
        <a href="login.html" class="btn btn-light">{{landing.login}}</a>
      </div>
    </div>
  </div>
</section>